# Node / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/build/

# Java / Spring Boot / Backend
backend/target/
*.class
*.jar

# Environment & IDE settings
.env
*.env
.DS_Store
.idea/
.vscode/
*.iml